html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */

  div {
    width: 200px;
    height: 50px;
    line-height: 20px;
    text-align: center;
    font-size: 1rem;
        /* per instruction worked out 18px to be rem from calc from 16px default font size */
    background-color: red;
    color: white;
    text-shadow: 5px 5px 6px #000;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px #000,
                inset 2px 3px 5px #fff,
                inset -2px -3px 5px #000;
  }